@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}
:root {
    --cor-principal: #24a3c5;
    --cor-secundaria: #0f4658;
    --fonte-forte: 600;
    --fonte-mtforte: 800;
    --arredondamento: 10px;
    --fonte-tamanho-mobile: 10px;
    --fonte-tamanho-desktop: 16px;
    --sombra-externa: 1px 1px 10px rgba(0, 0, 0, 0.5);
    --sombra-interna: inset 1px 1px 10px rgba(0, 0, 0, 0.5);
}
body, html {
    width: 100vw;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: var(--fonte-tamanho-mobile);
    overflow-x: hidden;
}
header {
    width: 100%;
    height: 55px;
}
#logomarca {
    background: url('../image/logomarca/logomarca.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 12px;
    width: 100px;
    height: 25px;
    display: inline-block;
    margin-left: 10%;
}
menu {
    display: inline-block;
    float: right;
    margin-top: 15px;
    margin-right: 10%;
}
ul > li {
    display: inline-block;
}
li > a {
    text-decoration: none;
    margin-right: 10px;
    color: var(--cor-secundaria);
    font-weight: var(--fonte-forte);
}
li > a:hover {
    color: var(--cor-principal);
}
main {
    width:  90%;
    margin: auto;
}
section {
    width: 100%;
    margin-bottom: 50px;
}
section > p {
    text-align: center;
    font-weight: var(--fonte-forte);
    width: 100%;
}
div.container {
    width: 80%;
    height: 200px;
    background-color: black;
    border-radius: 20px;
    padding: 20px;
    box-shadow: var(--sombra-interna);
    margin: auto;
}
div.container > p {
    text-align: justify;
    color: white;
    width: 60%;
}
section.portfolio {
    text-align: center;
}
div.cliente {
    cursor: pointer;
    display: inline-block;
    margin-top: 15px;
    width: 80px;
    height: 80px;
    box-shadow: var(--sombra-interna);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
div.cliente:hover {
    transform: scale(0.9);
    box-shadow: var(--sombra-externa);
}
div#marido-de-aluguel {
    background: url(../image/clients/marido-logo.png) no-repeat;
    background-size: cover;
    transition: background-image 0.3s ease;
}
div#marido-de-aluguel:hover {
    background-image: url(../image/clients/marido.png);
}
section.portfolio > p {
    margin-top: 15px;
}
section.portfolio > p > a {
    text-decoration: none;
    color: var(--cor-secundaria);
    font-weight: var(--fonte-mtforte);
}
section.portfolio > p > a:hover {
    color: var(--cor-principal);
}
section.sobre {
    height: 135px;
    text-align: justify;
}
section div {
    padding: 10px;
    width: 100%;
    height: 100%;
    border-radius: var(--arredondamento);
    box-shadow: var(--sombra-interna);
}
div#explication {
    background: url("../image/clients/marido.png") no-repeat;
    background-position: center center;
    background-size: cover;
}
div#explication > p {
    display: flex;
    align-items: center;
    color: var(--cor-secundaria);
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    height: 85%;
}
section.paleta {
    height: 250px;
    text-align: justify;
}
section.redes {
    height: max-content;
    text-align: center;
}
section.redes > a {
    text-decoration: none;
    color: var(--cor-secundaria);
    margin-right: 10px;
}
section.redes > a:hover{
    text-decoration: none;
    color: var(--cor-principal);
}
div#paletadecores {
    background: url("../image/clients/paleta.png") no-repeat;
    background-position: center center;
    background-size: contain;    
}
@media screen and (min-width: 720px) {
    body, html {
        font-size: var(--fonte-tamanho-desktop);
    }
    #logomarca {
        width: 150px;
        height: 50px;
        margin-top: 14px;
        margin-left: 30%;
    }
    menu {
        margin-top: 20px;
        margin-right: 30%;
    }
    main {
        width: 50%;
    }
    section {
        margin-top: 15px;
        height: 300px;
    }
    div.container {
        height: 300px;
    }
    div.cliente {
        width: 150px;
        height: 150px;
    }
    section.paleta {
        height: 500px;
        text-align: justify;
    }
}