<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Destro.png - Marido de Aluguel - Petrópolis</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../fontawesome-free-6.5.2-web/css/all.css">
    <link rel="apple-touch-icon" sizes="180x180" href="../image/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../image/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../image/favicon-16x16.png">
    <link rel="manifest" href="../image/site.webmanifest">
    <link rel="mask-icon" href="../image/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <header>
        <div id="logomarca"></div>
        <menu>
            <ul>
                <li><a href="../../index.html">Home</a></li>
                <li><a href="#">Fale Conosco</a></li>
            </ul>
        </menu>
    </header>
    <main>
        <section class="sobre">
            <div id="explication">
                <p>"Marido de Aluguel - Petrópolis é nossa parceira. Realizei a criação da logomarca da empresa e demais conteúdos. Esta empresa oferece serviços para residências. Fizemos um lindo trabalho no início que se prolonga até hoje, uma parceria de anos."</p>
            </div>
        </section> 
        <section class="paleta">
            <div id="paletadecores"></div>
        </section>    
        <section class="redes">
            <a href="https://www.facebook.com/maridopetropolis/?locale=pt_BR" target="_blank"><i class="fa-brands fa-facebook"></i> Facebook</a>   
            <a href="https://twitter.com/i/flow/login?redirect_after_login=%2Ffaztudomaridod" target="_blank"><i class="fa-brands fa-twitter"></i> Twitter</a>   
            <a href="https://maridodealuguelpetropolis.com.br/fale-conosco" target="_blank"><i class="fa-solid fa-globe"></i> Site</a>   
            <a href="https://br.linkedin.com/in/maridodealuguelpetropolis" target="_blank"><i class="fa-brands fa-linkedin"></i> Linkedin</a>
        </section>   
    </main>
    <footer>

    </footer>   
</body>
</html>